html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}


#navbar  {
	background-color: #FFF;
	width:  100%;
	height:  40px;	
	position:  fixed;
	left:  0%;
	bottom:  0px;
	top:  0;
	margin:  0 0 0 0;
	z-index:  50;
	opacity:  1;
}

.fish  {
	position:  absolute;
	top: 0;
	left:  1%;	
}

a:link  {
	font-family: 'Lato', sans-serif;  
	color: #069;
	font-weight:  700;
	text-decoration:  none;	
}

a:link.email   {
	color:  #000;
	text-decoration:  underline;	
}

a:visited  {
	color:  #000;	
}

a:hover  {
	color:  a6c53a;	
}

#navbar  ul  {
	width:  85%;
	height:  50px;
	position:  absolute;
	right:  0;
}

#navbar  li  {
	width:  100px;
	height:  50px;
	float:  right;
	list-style:  none;
	padding-left:  12%;
	margin-left:  auto;
	margin-right:  auto;
	margin-top:  -5px;
	font-family: 'Lato', sans-serif;
	color:  #000;
	text-decoration:  none;
}

li.email:hover  {
	color:  a6c53a;	
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.mission  {
	position:  absolute;
	margin-left:  5%;
	margin-top:  2%;
	font-family: 'Lato', sans-serif;
	font-size:  48px;
	font-weight:  300;
	color:  #a6c53a;
	width:  90%;	
}

.statement  {
	position:  absolute;
	margin-left:  0.5%;
	margin-top:  -2.5%;
	font-family:  'Lato', sans-serif;
	font-size:  20px;
	font-weight:  300;
	color:  #000;
	min-width:  550px;
	width:  100%;	
}

#pic  {
	position:  relative;
	margin-top:  12%;
	margin-left:  30%;	
	width:  400px;
	height:  200px;
	background-image:  url(http://jhsmith.iweb.bsu.edu/quote.png);
	background-repeat:  no-repeat;
}

.more  {
	position:  absolute;
	margin-left:  22%;
	margin-right:  12%;
	margin-top:  20%;
	font-family: 'Lato', sans-serif;
	font-size:  36px;
	font-weight:  700;
	text-align:  left;
	color:  #000;
	width:  90%%;	
}

@media only screen and (max-width: 1070px) {
    .more {
		font-size:  24px; 
		margin-left:  24%;
		margin-top:  22%;
    }
}

@media only screen and (max-width: 850px) {
    .more {
		font-size:  16px; 
		margin-left:  26%;
		margin-top:  24%;
    }
}

@media only screen and (max-width: 1100px) {
    #pic {
		width:  200px;
		height:  100px;
		background-image:  url(http://jhsmith.iweb.bsu.edu/quote_small.png);
		margin-top:  15%;
		margin-left:  33%; 
    }
}

@media only screen and (max-width: 892px) {
    #pic {
		background-image:  none; 
    }
}

.statement2  {
	position:  relative;
	margin-left:  0.5%;
	margin-top:  2%;
	font-family:  'Lato', sans-serif;
	font-size:  20px;
	font-weight:  300;
	color:  #000;
	width:  100%;	
	min-width:  550px;
}

@media only screen and (max-width: 1100px) {
    .statement2 {
        margin-top: 6%;
		font-size:  16px; 
    }
}

@media only screen and (max-width: 1100px) {
    .statement {
		font-size:  18px; 
    }
}

@media only screen and (max-width: 892px) {
    .statement2 {
        margin-top: -2%;
		font-size:  18px; 
    }
}

@media only screen and (max-width: 892px) {
    .statement {
		font-size:  18px; 
    }
}

@media only screen and (max-width: 640px) {
    .statement2 {
		margin-top:  8%; 
    }
}



.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
	.hsContent h2  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-top: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #a6c53a;
		font-size:  48px;
		font-style:  bold;
		font-family:  Tahoma, Geneva, sans-serif;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image: url(http://jhsmith.iweb.bsu.edu/background_shadow.png)}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}

/* Slide 2 */
#slide-2 .bcg {background-image: url(http://jhsmith.iweb.bsu.edu/hygro_background3.png)}
#slide-2 .hsContent {
	margin-left: -450px;
	bottom: 200px;
	top: auto;
}

/* Slide 3 */
#slide-3 .bcg {background-image: url(http://jhsmith.iweb.bsu.edu/background_blue.png)}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h2 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}

/* Slide 4 */
#slide-4 .bcg {background-image:  url(http://jhsmith.iweb.bsu.edu/background_shadow.png)}
#slide-4 .hsContent {
	margin-left: -450px;
}
	#slide-4 h2 {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
