html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'lato', sans-serif;
}


/*** color ***/

.orange {background-color:#a6c53a;}

.yellow {background-color:#FFAE53;}

.green {background-color:#6AB084;}

.teal {background-color:#008586;}

.dark-blue {background-color:#0E2F3F;}

.white {background-color:#fff;}

.reverse {color:#fff;}

.grey-text {color:#666;}

<!-- NAV  -->

/*----- Menu Outline -----*/

#navmenu  {
	position:  absolute;
	top:  0;
	left:  0;
	z-index:  100;	
	margin-top:  -5px;
}

.menu-wrap {
    width:50px;
	position:  absolute;
	top:  0;
	left:  0;
}
 
.menu {
    width:50px;
    margin:0px auto;
	position:  absolute;
	top:  0;
	left:  0;
	margin-top: -4px;
	margin-left:  8px;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family: 'Lato', sans-serif;
	color:  #fff;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}

a.boxy  p  {
	margin-top:  0px;
	margin-left:  -10px;
	z-index:  100;	
	font-size:  22px;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    position:absolute;
    font-size:26px;
}
 
.menu > ul > li > a {
    padding:5px -20px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:500%;
    padding:15px -30px;
    position:absolute;
    top:100%;
    left:-47px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
}
 
.sub-menu li {
    display:block;
    font-size:12px;
	text-align:  center;
}
 
.sub-menu li a {
    padding:10px 12px;
    display:block;
	text-align:  center;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
	color:  #a6c53a;
}

<!-- END NAV  -->


/*** content ***/

img  {
	max-width:  400px;
	max-height:  200px;	
}

.text {
	width:100%;
	padding:40px 0px;
	border-bottom:3px solid #FFAE53;
}

.text p {
	font-family: 'Droid Serif', serif;
	font-weight:400;
	font-style: italic;
	font-size:1.3em;
	margin:0 auto;
	width:50%;
}

.boxes {
    height:100vh;
    width:100%;
    position:relative;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    z-index:2;
    background-size: cover;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    text-align:center;
    overflow:hidden;
}

.boxes-1 {
	background-image:url('assets/eater-background.jpg');
}

.boxes-2 {
	background-image:  url('http://jhsmith.iweb.bsu.edu/hygro/images/blue_background.png);
	opacity:  1;
}

.boxes-3 {
	background-image:url('http://jhsmith.iweb.bsu.edu/hygro/images/green_background.png');
}

.boxes-4 {
	background-image:url('http://apps.voxmedia.com/theverge/comcast-name-generator/bg.gif');
	background-repeat:repeat;
	background-size:initial;
	background-attachment:fixed;
}

.boxes-5 {
	background-image:url('https://d22d7v2y1t140g.cloudfront.net/m_1785304_oCjtHkt2bPcv.jpg');
}

.boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.5;
    background:#000;
    /*-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	transition:.5s;*/
}

a:hover .boxes .boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.3;
    background:#000;
}


 a:hover .boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.4;
    background:#000;
}

.content {
	top:43%;
	display:block;
	color:#fff;
	position:relative;
	margin:0 auto;
	width:430px;
	text-align:left;
}

.content h2 {
	font-family:'arvo', sans-serif;
	font-weight:400;
	font-style: italic;
	font-size:3em;
	display:inline-block;
	padding:5px;
	font-weight:900;
	text-transform: inherit;
	letter-spacing:1px;
}

.content p {
	font-family: 'lato', sans-serif;
	font-size:1em;
	padding:5px;
	letter-spacing:1px;
}

.mission  {
	font-size:  18px;
	color:  #a6c53a;
}

.what  {
	font-size:  22px;
	color:  #000; 
	font-weight:  700; 	
}

li  {
	font-family: 'lato', sans-serif;
	font-size:1em;
	padding:5px;
	letter-spacing:1px;	
}

p a {border-bottom:1px solid #a6c53a;transition:0.2s;}

p a:hover {border-bottom:2px solid #a6c53a;transition:0.2s;}

.content p a {color:#FFF;border-bottom:none;}

.content p a:hover {border-bottom:1px solid #FFF;}

h4 a {
	font-family:'arvo', sans-serif;
	font-weight:400;
	font-style: italic;
	font-size:1em;
	display:inline-block;
	padding:3px 4px 2px 2px;
	font-weight:900;
	text-transform: uppercase;
	color:#fff;
	background-color:#a6c53a;
	margin:50px 0px 40px 0px;
}

/*holy shit was i really this lazy?*/
.center {
	text-align:center;
}

.hero {
	width:100%;
	padding:240px 0;
	background-image:url('assets/glasses-v15.png');
	background-attachment:fixed;
}

.hero div {width:900px; margin:0 auto;}

.hero h1:nth-child(2) {margin-top:-20px;}

h1 {
	font-family:'arvo', sans-serif;
	font-size:5em;
	display:inline-block;
	font-weight:700;
	padding:10px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-family: 'arvo', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
	display: inline-block;
	padding: 5px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin:30px 0px 10px 0px;
}

.hero h3 {
	font-family: 'lato', sans-serif;
	font-weight:600;
	font-size:0.9em;
	color:#FFAE53;
	display:block;
	padding:5px;
	text-transform: uppercase;
	letter-spacing:1px;
	text-align:left;
}

h5 {
	font-family: 'lato', sans-serif;
	font-weight:600;
	font-size:1em;
	color:#000;
	display:block;
	padding:5px;
	text-transform: uppercase;
	letter-spacing:1px;
	text-align:left;
	margin:50px 0px 5px 0px;
	border-bottom:2px solid #a6c53a;
}

/*** pages ***/

.short {
	height:70vh;
	background-attachment:initial;
}

.content-body {
	width:100%;
	margin:30px 0px 30px 0px;
	z-index:10;
}

.content-text {
	width:50%;
	margin:55px 0px 55px 25%;
	z-index:10;
}

.content-text p {
	line-height:1.5;
	color:#696969;
	margin:0px 0px 20px 0px;
}

.content-text img {
	width:100%;
	margin:15px 0px 30px 0px;
}

.content-image {
	width:70%;
	margin-left:15%;
}

.content-image img {
	width:100%;
}

.back {
	width:26px;
	height:26px;
	position:fixed;
	background-color:transparent;
	bottom:50%;
	left:40px;
	border:1px solid #a6c53a;
	border-radius:50%;
	z-index:1;
	opacity:0.6;
	transition:0.3s;
	-o-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}

.back .triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 10px 6px 0;
	border-color: transparent #a6c53a transparent transparent;
	position:absolute;
	top:7px;
	left:7px;
}

.back:hover {
	opacity:1;
	left:37px;
	transition:0.3s;
	-o-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}

.forward {
	width:26px;
	height:26px;
	position:fixed;
	background-color:transparent;
	bottom:50%;
	right:40px;
	border:1px solid #a6c53a;
	border-radius:50%;
	z-index:1;
	opacity:0.6;
	transition:0.3s;
	-o-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}

.forward .triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0px 6px 10px;
	border-color: transparent transparent transparent #a6c53a;
	position:absolute;
	top:7px;
	left:9px;
}

.forward:hover {
	opacity:1;
	right:37px;
	transition:0.3s;
	-o-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}

.home {
	width:26px;
	height:26px;
	position:fixed;
	background-color:transparent;
	bottom:90%;
	left:40px;
	border:1px solid #CCC;
	border-radius:50%;
	z-index:5;
	opacity:0.6;
	transition:0.3s;
	-o-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-ms-transition:0.3s;
}

.house {
  background: #ccc;
  display: inline-block;
  position: absolute;
  width: 14px;
	height:9px;
  bottom:6px;
  right:6px;
  transition:0.3s;
  -o-transition:0.3s;
  -moz-transition:0.3s;
  -webkit-transition:0.3s;
  -ms-transition:0.3s;
}
.house:before {
  border-bottom: 5px solid #ccc;
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
  content: " ";
  height: 0;
  left: 0;
  position: absolute;
  top: -6px;
  width: 0;
}

.house-chimney {
	background-color:#ccc;
	position:absolute;
	width:3px;
	height:5px;
	top:4px;
	right:8px;
}

.home:hover {
  opacity:1;
  transition:0.3s;
  -o-transition:0.3s;
  -moz-transition:0.3s;
  -webkit-transition:0.3s;
  -ms-transition:0.3s;
}



/*** screen sizes ***/

@media (max-width: 1000px) {
	h1 {font-size:4em;}

	.hero h1:nth-child(2) {margin-top:-15px;}

	.hero div {width:720px;}

	.content-text {
		width:60%;
		margin:55px 0px 55px 20%;
	}

	.content-image {
		width:80%;
		margin-left:10%;
	}
}

@media (max-width: 740px) {
	h1 {font-size:3em;}

	.hero h1:nth-child(2) {margin-top:-15px;}

	.hero div {width:550px;}

	.content-text {
		width:70%;
		margin:45px 0px 45px 15%;
	}
}

@media (max-width: 550px) {
	h1 {
		font-size:2em;
		padding:5px;

	}

	.hero h1:nth-child(2) {margin-top:-5px;}

	.hero div {width:400px;}

	.boxes {height:90vh;}

	.boxes-5 {height:100vh;}

	.boxes h2 {
		font-size:1.2em;
		padding:5px;
	}

	.boxes h3 {font-size:0.8em;}

	.content {width:340px;}

	.hero {background-size:400px;}

	.boxes-1 {background-size:1000px;background-position:center;background-attachment:scroll;}

	.boxes-2 {background-size:1300px;background-position:center;background-attachment:scroll;}

	.boxes-3 {background-size:1000px;background-position:center;background-attachment:scroll;}

	.boxes-5 {background-size:1500px;background-position:26% center;background-attachment:scroll;}

	.content-text {
		width:80%;
		margin:30px 0px 30px 10%;
	}

	.home {
		bottom:15px;
		left:15px;
		background-color:#a6c53a;
		color:  #a6c53a;
		border:none;
		border-radius:50%;
		opacity:1;
	}

	.house {
	  background: #fff;
	  opacity:1;
	  width: 14px;
	  height:9px;
  	bottom:6px;
  	right:6px;
	}

	.house:before {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
	  border-bottom: 5px solid #fff;
	}

	.house-chimney {
		background-color:#fff;
		width:3px;
		height:5px;
		top:4px;
		right:8px;
	}


	.back {
		bottom:15px;
		left:50px;
		border:none;
		background-color:#a6c53a;
		opacity:1;
	}

	.back .triangle {
		border-color: transparent #fff transparent transparent;
	}

	.back:hover {
		left:49px;
	}

	.back .triangle {
		border-color: transparent #fff transparent transparent;
	}

	.forward {
		bottom:15px;
		left:85px;
		border:none;
		background-color:#a6c53a;
		opacity:1;
	}

	.forward .triangle {
		border-color: transparent transparent transparent #fff;
	}

	.forward:hover {
		left:86px;
	}

	.content-image {
		width:90%;
		margin-left:5%;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size:1.5em;
		padding:5px;
	}

	.hero h1:nth-child(2) {margin-top:-5px;}

	.hero div {
		max-width:300px;
		width:90%;
	}

	.content {
		max-width:300px;
		width:90%;
	}
}

@media (max-width: 300px) {
	h1 {
		font-size:1.2em;
		padding:5px;
	}

	.hero h1:nth-child(2) {margin-top:-5px;}

	.hero div {
		max-width:250px;
		width:90%;
	}

	.content {
		max-width:250px;
		width:90%;
	}

	.content-text {
		width:80%;
		margin:15px 0px 15px 5%;
	}

	.content h2 {
		display:inline;
		padding:5px 0px;
		letter-spacing:1px;
		line-height:1.6em;
	}

	.content-image {
		width:94%;
		margin-left:3%;
	}
}


/*hover*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFAE53!important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}





